@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>

    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/csm_TEA50_Liberta_652027b733.jpg" alt="ASP.NET" class="img-responsive center-block" />
               <div class="carousel-caption" role="option">
                   <p>
                       Dialysis in a familiar environment
                       <a class="btn btn-default" href="https://www.freseniusmedicalcare.com/en/media-center/stories/dialysis-in-a-familiar-environment/">
                           More
                       </a>
                   </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/TEA050_Fresenius_Medical_Care_production_plant_dialyzers.jpg" alt="Visual Studio" class=" img-responsive center-block" />
            
            <div class="carousel-caption" role="option">
                <p>
                    Knowledge Transfer chez Fresenius Medical Care
                    <a class="btn btn-default" href="https://www.freseniusmedicalcare.com/en/media-center/stories/knowledge-transfer-chez-fresenius-medical-care/">
                        More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/csm_TEA050_Life-long-learner_aaebdad96f.jpg" class="img-responsive center-block" />

            <div class="carousel-caption" role="option">
                <p>
                    The life-long learner
                    <a class="btn btn-default" href="https://www.freseniusmedicalcare.com/en/media-center/stories/the-life-long-learner/">
                        More
                    </a>
                </p>
            </div>
        </div>
       
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="row">
    <div class="col-md-3">
        <h2></h2>
        <ul>
           
        </ul>
    </div>
    <div class="col-md-3">
        <h2></h2>
        <ul>
            
        </ul>
    </div>
    <div class="col-md-3">
        <h2></h2>
        <ul>
           
        </ul>
    </div>
    <div class="col-md-3">
        <h2></h2>
        <ul>
           
        </ul>
    </div>
</div>
