@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    &copy;Bobr and K<br />
    <br />
    <abbr title="Phone">+375296921231</abbr>

</address>

<address>
    <strong>Support:</strong> <a href="mailto:abobcmail@gmail.com">abobcmail@gmail.com</a><br />
 
</address>
