@model Fresenius.Data.Manufacturer

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Manufacturer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" asp-controller="Manufacturers" method="post" enctype="multipart/form-data" id="form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Code" class="control-label"></label>
                <input asp-for="Code" class="form-control" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NameFull" class="control-label"></label>
                <input asp-for="NameFull" class="form-control" />
                <span asp-validation-for="NameFull" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NameShort" class="control-label"></label>
                <input asp-for="NameShort" class="form-control" />
                <span asp-validation-for="NameShort" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdressOfDeparture" class="control-label"></label>
                <input asp-for="AdressOfDeparture" class="form-control" />
                <span asp-validation-for="AdressOfDeparture" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Logo" class="control-label"></label>
                <input asp-for="Logo" class="form-control" />
                <span asp-validation-for="Logo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="file" name="uploadedFile" multiple accept="image/*" class="btn btn-default" id="img" />
                <img id="img-preview" src="default-preview.jpg" />
                <br />
                <a href="#" id="reset-img-preview" class=" btn btn-default">Удалить изображения</a>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

